# python은 맨 밑에  ErrorMessage가 있다

# String 표현방법 
## : "" 또는 '' (홀따옴표를 사용하기 위해서 쌍따옴표가 존재한다)

1+'문자' -> error   

'1'+'2' -> '12'

int('12') -> 12

In [36]:
message = "Hello world"
print(message[0]) 
print(message[1]) 
print(message[2]) 
print('=======')
# 뒤에서부터 접근하기
print(message[-1]) # 맨끝
print(message[-2]) # 
print('=======')
print(message[0:4])
print('=======')
print("h" in message)
print("H" in message)

H
e
l
=======
d
l
=======
Hell
=======
False
True

In [56]:
print(message.split()) # " " space
print(message.split("o"))

['Hello', 'world']
['Hell', ' w', 'rld']

## 리스트

In [50]:
odd =[1,2,3,4,5]
print(odd)

print(odd[0])
print(odd[1])
print(odd[-1])
print(odd[-2])

print(odd[0:4])

print(1 in odd)
print(6 in odd)

odd.append(11) # 반복실행하면 계속 11추가됨
odd

[1, 2, 3, 4, 5]
1
2
5
4
[1, 2, 3, 4]
True
False

[1, 2, 3, 4, 5, 11]

In [51]:
odd = odd + [11,22,33]
odd

[1, 2, 3, 4, 5, 11, 11, 22, 33]

In [55]:
odd[3] =-1
odd[5] =-2
odd

[1, 2, 3, -1, 5, -2, 11, 22, 33]

In [59]:
words=['Hello','World!']

print(" ".join(words))
print(",".join(words))
print(", ".join(words))

Hello World!
Hello,World!
Hello, World!

## 제어문

In [66]:
age = 10

if age > 5 :
    print('어른') #IndentationError
else:
    print('아이')
    
if age < 5 :
    print('아이') 
elif age <18:
    print('학생')
else:
    print('어른')

어른
학생

## 반복문

In [80]:
basket=['apple','bananas','chicken','pineapple','cherry']
for stuff in basket:
    print(stuff)
    
for i in range(5): # 0~4 :인덱스 아님 , range의 output임
    print(i)
print('===')
    
for i in range(1,7): #1~5
    print(i)
print('===')
    
for i in range(1,6): #1~5
    if i ==2:
        continue
    if i ==5:
        break
    print(i)

apple
bananas
chicken
pineapple
cherry
0
1
2
3
4
===
1
2
3
4
5
6
===
1
3
4

In [81]:
#한꺼번에 출력하기
double_list = []
for i in range(1,11):
    if i==5:
        continue
    if i==8:
        break
    double = i *2
    double_list.append(double)
    
print(double_list)

[2, 4, 6, 8, 12, 14]

## 함수

In [87]:
#def = define
def multiply(a,b):
    c=a*b
    return c

print(multiply(1,2))
print(multiply(4,6))

2
24

In [91]:
def sign(n):
    if n>0:
        return "양수"
    elif n<0:
        return "음수"
    else:
        return "0"

print(sign(-1))
print(sign(5))
print(sign(0))

for n in [-1,3,0]:
    print(sign(n))

음수
양수
0
음수
양수
0

##  Practice

**팩토리얼 구현하기

    *3! = 3*2*1 =6
    
    *4! = 4*3*2*1=24
    
    *5! = 5*4*3*2*1=120

In [99]:
def factorial(n):
    result=1
    
    for i in range(1,n+1):
        result = result*i
    return result

print(factorial(3))
print(factorial(4))

6
24

In [100]:
#재귀함수 잘못하면 무한loop생길 수 있으니 안 쓰는 걸 추천한다
def factorial(n):
    if n ==1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(3))

6

## 포메팅

In [23]:
bananas =12
days= 7
"Bensk ate {0} bananas for {1} day".format(bananas,days)

'Bensk ate 12 bananas for 7 day'

In [26]:
model_a = 4.134122
model_b = 7.351351

#f = float = 소수점
"Model A = {0:.3f} , Model B  = {0:.5f}".format(model_a, model_b)

'Model A = 4.134 , Model B  = 4.13412'

In [22]:
"Hellos".lower()

'hellos'

In [21]:
"Hello".upper()

'HELLO'

# Intro PANDAS

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [45]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) # row =6, col = 4
df

                   A         B         C         D
2013-01-01 -0.986983  1.154394 -0.526727 -0.338643
2013-01-02 -0.277973 -0.329866  2.239490 -0.451034
2013-01-03 -0.587980 -0.734078 -0.604895 -0.003935
2013-01-04  1.064174  0.367247  0.431248 -0.879047
2013-01-05  0.544461 -0.771701  0.561868  0.926840
2013-01-06  1.976462 -1.068734 -0.549930 -0.625850

In [96]:
pd.Timestamp('20130102') #Timestamp('2013-01-02 00:00:00')
pd.Series(1,index=list(range(4)),dtype='float32') 
np.array([3] * 4,dtype='int32') # [3, 3, 3, 3]
pd.Categorical(["test","train","test","train"]) #[test, train, test, train]  , Categories (2, object): [test, train]

df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo'
                   })
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [86]:
# dataframe은 index가 없으면 안되나? array, series, category는 기본 index가 있다

#df3=pd.DataFrame({ 'bananas':1, 'apple':2 }) #valueError : If using all scalar values, you must pass an index

df4 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                   #  'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                   #  'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df4

     A          B  D    F
0  1.0 2013-01-02  3  foo
1  1.0 2013-01-02  3  foo
2  1.0 2013-01-02  3  foo
3  1.0 2013-01-02  3  foo