In [268]:
#gini impurity : 0 <= 1 - p_survived^2 - p_perish^2 <= 0.5
# model validation : percentage <  another : (p_c + p_uc) /2 
#research engineer 

import numpy as np
import pandas as pd

# datetime에 해당하는 컬럼 모두 적용하기 위해 리스트 형식으로 넣는다
train = pd.read_csv("data/train.csv", parse_dates=["datetime"]) 
# 날짜데이터 호출방법 : train["datetime"].dt.year (month,day,hour,minute,second)
# 날짜데이터의 
# pandas, python 날짜 코딩방법 공부 
# one hot encoding : 1,2,3,4 - 매출액 : 1: 100 -> 2: 200 ?

train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [269]:
test = pd.read_csv("data/test.csv",parse_dates=["datetime"])
print(train.shape, test.shape) # col diff : casual 	registered 	count
test.head()

(10886, 12) (6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

datetime 바꾸기

In [270]:
train["time_year"]=train["datetime"].dt.year #(month,day,hour,minute,second)
train["time_month"]=train["datetime"].dt.month #(month,day,hour,minute,second)
train["time_day"]=train["datetime"].dt.day
train["time_hour"]=train["datetime"].dt.hour
train["time_minute"]=train["datetime"].dt.minute

#train["time_monthday"]=train["datetime"].dt.month+train["datetime"].dt.day
#train.head()

In [271]:
test["time_year"]=test["datetime"].dt.year #(month,day,hour,minute,second)
test["time_month"]=test["datetime"].dt.month #(month,day,hour,minute,second)
#test["time_day"]=test["datetime"].dt.monthday
test["time_hour"]=test["datetime"].dt.hour #(month,day,hour,minute,second)
test["time_minute"]=test["datetime"].dt.minute
#train["time_monthday"]=train["datetime"].dt.month+train["datetime"].dt.day
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,time_year,time_month,time_hour,time_minute
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,0,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,1,0
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,2,0
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,3,0
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,4,0

one-hot encode

In [272]:
#train -weather ,season 

train["weather_1"] = train["weather"] == 1
train["weather_2"] = train["weather"] == 2
train["weather_3"] = train["weather"] == 3
train["weather_4"] = train["weather"] == 4
train[["weather","weather_1","weather_2","weather_3","weather_4"]].head()

train["season_1"] = train["season"] == 1
train["season_2"] = train["season"] == 2
train["season_3"] = train["season"] == 3
train["season_4"] = train["season"] == 4
train[["season","season_1","season_2","season_3","season_4"]].head()

   season  season_1  season_2  season_3  season_4
0       1      True     False     False     False
1       1      True     False     False     False
2       1      True     False     False     False
3       1      True     False     False     False
4       1      True     False     False     False

In [273]:
#test

test["weather_1"] = test["weather"] == 1
test["weather_2"] = test["weather"] == 2
test["weather_3"] = test["weather"] == 3
test["weather_4"] = test["weather"] == 4
test[["weather","weather_1","weather_2","weather_3","weather_4"]].head()

test["season_1"] = test["season"] == 1
test["season_2"] = test["season"] == 2
test["season_3"] = test["season"] == 3
test["season_4"] = test["season"] == 4
test[["season","season_1","season_2","season_3","season_4"]].head()

   season  season_1  season_2  season_3  season_4
0       1      True     False     False     False
1       1      True     False     False     False
2       1      True     False     False     False
3       1      True     False     False     False
4       1      True     False     False     False

In [274]:
#year-month

In [275]:
train["yearmonth"]=train["datetime"].dt.year.astype('str') + '-' + train["datetime"].dt.month.astype('str')


train["2011_1"] = train["yearmonth"] == "2011-1"
train["2011_2"] = train["yearmonth"] == "2011-2"
train["2011_3"] = train["yearmonth"] == "2011-3"
train["2011_4"] = train["yearmonth"] == "2011-4"
train["2011_5"] = train["yearmonth"] == "2011-5"
train["2011_6"] = train["yearmonth"] == "2011-6"
train["2011_7"] = train["yearmonth"] == "2011-7"
train["2011_8"] = train["yearmonth"] == "2011-8"
train["2011_9"] = train["yearmonth"] == "2011-9"
train["2011_10"] = train["yearmonth"] == "2011-10"
train["2011_11"] = train["yearmonth"] == "2011-11"
train["2011_12"] = train["yearmonth"] == "2011-12"
train["2012_1"] = train["yearmonth"] == "2012-1"
train["2012_2"] = train["yearmonth"] == "2012-2"
train["2012_3"] = train["yearmonth"] == "2012-3"
train["2012_4"] = train["yearmonth"] == "2012-4"
train["2012_5"] = train["yearmonth"] == "2012-5"
train["2012_6"] = train["yearmonth"] == "2012-6"
train["2012_7"] = train["yearmonth"] == "2012-7"
train["2012_8"] = train["yearmonth"] == "2012-8"
train["2012_9"] = train["yearmonth"] == "2012-9"
train["2012_10"] = train["yearmonth"] == "2012-10"
train["2012_11"] = train["yearmonth"] == "2012-11"
train["2012_12"] = train["yearmonth"] == "2012-12"

In [276]:
test["yearmonth"]=test["datetime"].dt.year.astype('str') + '-' + test["datetime"].dt.month.astype('str')

test["2011_1"] = test["yearmonth"] == "2011-1"
test["2011_2"] = test["yearmonth"] == "2011-2"
test["2011_3"] = test["yearmonth"] == "2011-3"
test["2011_4"] = test["yearmonth"] == "2011-4"
test["2011_5"] = test["yearmonth"] == "2011-5"
test["2011_6"] = test["yearmonth"] == "2011-6"
test["2011_7"] = test["yearmonth"] == "2011-7"
test["2011_8"] = test["yearmonth"] == "2011-8"
test["2011_9"] = test["yearmonth"] == "2011-9"
test["2011_10"] = test["yearmonth"] == "2011-10"
test["2011_11"] = test["yearmonth"] == "2011-11"
test["2011_12"] = test["yearmonth"] == "2011-12"
test["2012_1"] = test["yearmonth"] == "2012-1"
test["2012_2"] = test["yearmonth"] == "2012-2"
test["2012_3"] = test["yearmonth"] == "2012-3"
test["2012_4"] = test["yearmonth"] == "2012-4"
test["2012_5"] = test["yearmonth"] == "2012-5"
test["2012_6"] = test["yearmonth"] == "2012-6"
test["2012_7"] = test["yearmonth"] == "2012-7"
test["2012_8"] = test["yearmonth"] == "2012-8"
test["2012_9"] = test["yearmonth"] == "2012-9"
test["2012_10"] = test["yearmonth"] == "2012-10"
test["2012_11"] = test["yearmonth"] == "2012-11"
test["2012_12"] = test["yearmonth"] == "2012-12"

In [277]:
#hour

In [278]:
train["time_hour"]
train["hour-1"] = train["time_hour"] ==1
train["hour-2"] = train["time_hour"] ==2
train["hour-3"] = train["time_hour"] ==3
train["hour-4"] = train["time_hour"] ==4
train["hour-5"] = train["time_hour"] ==5
train["hour-6"] = train["time_hour"] ==6
train["hour-7"] = train["time_hour"] ==7
train["hour-8"] = train["time_hour"] ==8
train["hour-9"] = train["time_hour"] ==9
train["hour-10"] = train["time_hour"] ==10
train["hour-11"] = train["time_hour"] ==11
train["hour-12"] = train["time_hour"] ==12
train["hour-13"] = train["time_hour"] ==13
train["hour-14"] = train["time_hour"] ==14
train["hour-15"] = train["time_hour"] ==15
train["hour-16"] = train["time_hour"] ==16
train["hour-17"] = train["time_hour"] ==17
train["hour-18"] = train["time_hour"] ==18
train["hour-19"] = train["time_hour"] ==19
train["hour-20"] = train["time_hour"] ==20
train["hour-21"] = train["time_hour"] ==21
train["hour-22"] = train["time_hour"] ==22
train["hour-23"] = train["time_hour"] ==23
train["hour-24"] = train["time_hour"] ==24

In [279]:
test["time_hour"]
test["hour-1"] = test["time_hour"] ==1
test["hour-2"] = test["time_hour"] ==2
test["hour-3"] = test["time_hour"] ==3
test["hour-4"] = test["time_hour"] ==4
test["hour-5"] = test["time_hour"] ==5
test["hour-6"] = test["time_hour"] ==6
test["hour-7"] = test["time_hour"] ==7
test["hour-8"] = test["time_hour"] ==8
test["hour-9"] = test["time_hour"] ==9
test["hour-10"] = test["time_hour"] ==10
test["hour-11"] = test["time_hour"] ==11
test["hour-12"] = test["time_hour"] ==12
test["hour-13"] = test["time_hour"] ==13
test["hour-14"] = test["time_hour"] ==14
test["hour-15"] = test["time_hour"] ==15
test["hour-16"] = test["time_hour"] ==16
test["hour-17"] = test["time_hour"] ==17
test["hour-18"] = test["time_hour"] ==18
test["hour-19"] = test["time_hour"] ==19
test["hour-20"] = test["time_hour"] ==20
test["hour-21"] = test["time_hour"] ==21
test["hour-22"] = test["time_hour"] ==22
test["hour-23"] = test["time_hour"] ==23
test["hour-24"] = test["time_hour"] ==24

In [280]:
test.head()


train["windspeed"].shift(+1)
train["windspeed"].shift(-1)

0         0.0000
1         0.0000
2         0.0000
3         0.0000
4         6.0032
5         0.0000
6         0.0000
7         0.0000
8         0.0000
9        16.9979
10       19.0012
11       19.0012
12       19.9995
13       19.0012
14       19.9995
15       19.9995
16       19.0012
17       16.9979
18       16.9979
19       16.9979
20       12.9980
21       15.0013
22       19.9995
23       19.9995
24       16.9979
25       19.0012
26       12.9980
27       12.9980
28       19.9995
29       12.9980
          ...
10856    26.0027
10857    16.9979
10858    15.0013
10859     0.0000
10860     6.0032
10861     0.0000
10862     6.0032
10863     6.0032
10864     8.9981
10865     8.9981
10866     6.0032
10867     6.0032
10868     8.9981
10869     7.0015
10870     7.0015
10871     7.0015
10872    15.0013
10873    19.0012
10874    12.9980
10875    12.9980
10876    19.0012
10877    23.9994
10878    26.0027
10879    23.9994
10880    26.0027
10881    15.0013
10882    15.0013
10883     6.0032
10884     8.9981
10885        NaN
Name: windspeed, Length: 10886, dtype: float64

## Train

In [281]:
feature_names = ["season","holiday","workingday","temp","atemp","humidity","windspeed",#"time_year","time_hour",
                 "2011_1","2011_2","2011_3","2011_4","2011_5","2011_6","2011_7","2011_8","2011_9",
                "2011_10","2011_11","2011_12","2012_1","2012_2","2012_3","2012_4","2012_5","2012_6","2012_7",
                
                "2012_8","2012_9","2012_10","2012_11","2012_12",
                 "weather_1","weather_2","weather_3","weather_4",
                 "season_1","season_2","season_3","season_4",
                "hour-1","hour-2","hour-3","hour-4","hour-5","hour-6","hour-7","hour-8","hour-9","hour-10",
            "hour-11","hour-12","hour-13","hour-14","hour-15","hour-16","hour-17","hour-18","hour-19","hour-20",
                 "hour-21","hour-22","hour-23","hour-24"
                ]
feature_names

['season',
 'holiday',
 'workingday',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 '2011_1',
 '2011_2',
 '2011_3',
 '2011_4',
 '2011_5',
 '2011_6',
 '2011_7',
 '2011_8',
 '2011_9',
 '2011_10',
 '2011_11',
 '2011_12',
 '2012_1',
 '2012_2',
 '2012_3',
 '2012_4',
 '2012_5',
 '2012_6',
 '2012_7',
 '2012_8',
 '2012_9',
 '2012_10',
 '2012_11',
 '2012_12',
 'weather_1',
 'weather_2',
 'weather_3',
 'weather_4',
 'season_1',
 'season_2',
 'season_3',
 'season_4',
 'hour-1',
 'hour-2',
 'hour-3',
 'hour-4',
 'hour-5',
 'hour-6',
 'hour-7',
 'hour-8',
 'hour-9',
 'hour-10',
 'hour-11',
 'hour-12',
 'hour-13',
 'hour-14',
 'hour-15',
 'hour-16',
 'hour-17',
 'hour-18',
 'hour-19',
 'hour-20',
 'hour-21',
 'hour-22',
 'hour-23',
 'hour-24']

In [282]:
#train data
X_train = train[feature_names]
print(X_train.shape)
Y_train = train["count"]
print(Y_train.shape)

#test data
X_test = test[feature_names]
print(X_test.shape)

X_train

(10886, 63)
(10886,)
(6493, 63)

,season,holiday,workingday,temp,atemp,humidity,windspeed,2011_1,2011_2,2011_3,...,hour-15,hour-16,hour-17,hour-18,hour-19,hour-20,hour-21,hour-22,hour-23,hour-24
0,1,0,0,9.84,14.395,81,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,0,0,9.02,13.635,80,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,0,0,9.02,13.635,80,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,0,0,9.84,14.395,75,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,0,0,9.84,14.395,75,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5,1,0,0,9.84,12.880,75,6.0032,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6,1,0,0,9.02,13.635,80,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
7,1,0,0,8.20,12.880,86,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
8,1,0,0,9.84,14.395,75,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
9,1,0,0,13.12,17.425,76,0.0000,True,False,False,...,False,False,False,False,False,False,False,False,False,False
10,1,0,0,15.58,19.695,76,16.9979,True,False,False,...,False,False,False,False,False,False,False,False,False,False
11,1,0,0,14.76,16.665,81,19.0012,True,False,False,...,False,False,False,False,False,False,False,False,False,False
12,1,0,0,17.22,21.210,77,19.0012,True,False,False,...,False,False,False,False,False,False,False,False,False,False
13,1,0,0,18.86,22.725,72,19.9995,True,False,False,...,False,False,False,False,False,False,False,False,False,False
14,1,0,0,18.86,22.725,72,19.0012,True,False,False,...,False,False,False,False,False,False,False,False,False,False
15,1,0,0,18.04,21.970,77,19.9995,True,False,False,...,True,False,False,False,False,False,False,False,False,False
16,1,0,0,17.22,21.210,82,19.9995,True,False,False,...,False,True,False,False,False,False,False,False,False,False
17,1,0,0,18.04,21.970,82,19.0012,True,False,False,...,False,False,True,False,False,False,False,False,False,False
18,1,0,0,17.22,21.210,88,16.9979,True,False,False,...,False,False,False,True,False,False,False,False,False,False
19,1,0,0,17.22,21.210,88,16.9979,True,False,False,...,False,False,False,False,True,False,False,False,False,False
20,1,0,0,16.40,20.455,87,16.9979,True,False,False,...,False,False,False,False,False,True,False,False,False,False
21,1,0,0,16.40,20.455,87,12.9980,True,False,False,...,False,False,False,False,False,False,True,False,False,False
22,1,0,0,16.40,20.455,94,15.0013,True,False,False,...,False,False,False,False,False,False,False,True,False,False
23,1,0,0,18.86,22.725,88,19.9995,True,False,False,...,False,False,False,False,False,False,False,False,True,False
24,1,0,0,18.86,22.725,88,19.9995,True,False,False,...,False,False,False,False,False,False,False,False,False,False
25,1,0,0,18.04,21.970,94,16.9979,True,False,False,...,False,False,False,False,False,False,False,False,False,False
26,1,0,0,17.22,21.210,100,19.0012,True,False,False,...,False,False,False,False,False,False,False,False,False,False
27,1,0,0,18.86,22.725,94,12.9980,True,False,False,...,False,False,False,False,False,False,False,False,False,False
28,1,0,0,18.86,22.725,94,12.9980,True,False,False,...,False,False,False,False,False,False,False,False,False,False
29,1,0,0,17.22,21.210,77,19.9995,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,4,0,1,15.58,19.695,46,22.0028,False,False,False,...,False,False,False,True,False,False,False,False,False,False
10857,4,0,1,15.58,19.695,46,26.0027,False,False,False,...,False,False,False,False,True,False,False,False,False,False
10858,4,0,1,14.76,16.665,50,16.9979,False,False,False,...,False,False,False,False,False,True,False,False,False,False
10859,4,0,1,14.76,17.425,50,15.0013,False,False,False,...,False,False,False,False,False,False,True,False,False,False
10860,4,0,1,13.94,16.665,49,0.0000,False,False,False,...,False,False,False,False,False,False,False,True,False,False
10861,4,0,1,13.94,17.425,49,6.0032,False,False,False,...,False,False,False,False,False,False,False,False,True,False
10862,4,0,1,12.30,15.910,61,0.0000,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10863,4,0,1,12.30,15.910,65,6.0032,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10864,4,0,1,11.48,15.150,65,6.0032,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10865,4,0,1,10.66,13.635,75,8.9981,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10866,4,0,1,9.84,12.120,75,8.9981,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10867,4,0,1,10.66,14.395,75,6.0032,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10868,4,0,1,9.84,12.880,75,6.0032,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10869,4,0,1,10.66,13.635,75,8.9981,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10870,4,0,1,9.84,12.880,87,7.0015,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10871,4,0,1,11.48,14.395,75,7.0015,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10872,4,0,1,13.12,16.665,70,7.0015,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10873,4,0,1,16.40,20.455,54,15.0013,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10874,4,0,1,16.40,20.455,54,19.0012,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10875,4,0,1,17.22,21.210,50,12.9980,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10876,4,0,1,17.22,21.210,50,12.9980,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10877,4,0,1,17.22,21.210,50,19.0012,False,False,False,...,True,False,False,False,False,False,False,False,False,False
10878,4,0,1,17.22,21.210,50,23.9994,False,False,False,...,False,True,False,False,False,False,False,False,False,False
10879,4,0,1,16.40,20.455,50,26.0027,False,False,False,...,False,False,True,False,False,False,False,False,False,False
10880,4,0,1,15.58,19.695,50,23.9994,False,False,False,...,False,False,False,True,False,False,False,False,False,False
10881,4,0,1,15.58,19.695,50,26.0027,False,False,False,...,False,False,False,False,True,False,False,False,False,False
10882,4,0,1,14.76,17.425,57,15.0013,False,False,False,...,False,False,False,False,False,True,False,False,False,False
10883,4,0,1,13.94,15.910,61,15.0013,False,False,False,...,False,False,False,False,False,False,True,False,False,False
10884,4,0,1,13.94,17.425,61,6.0032,False,False,False,...,False,False,False,False,False,False,False,True,False,False
10885,4,0,1,13.12,16.665,66,8.9981,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [283]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X_new = SelectKBest(chi2, k=4).fit_transform(X_train, Y_train)#hour-humidity-temp-windspeed,time_month
X_new

#유효한 변수만 세부적으로 파라. 그래야 점수오른다 
#working day를 요일로 쪼개보자.

array([[  9.84  ,  14.395 ,  81.    ,   0.    ],
       [  9.02  ,  13.635 ,  80.    ,   0.    ],
       [  9.02  ,  13.635 ,  80.    ,   0.    ],
       ...,
       [ 13.94  ,  15.91  ,  61.    ,  15.0013],
       [ 13.94  ,  17.425 ,  61.    ,   6.0032],
       [ 13.12  ,  16.665 ,  66.    ,   8.9981]])

from sklearn.tree import DecisionTreeRegressor # 회귀분석
model = DecisionTreeRegressor()
model

In [284]:
from sklearn.ensemble import RandomForestRegressor # 회귀분석
model = RandomForestRegressor()
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

## score

In [285]:
#from sklearn.model_selection import cross_val_score
from sklearn.cross_validation import cross_val_score

#Hold-out validation (고정)   , Cross validation(순환)
score = cross_val_score(model, X_train, Y_train, cv=20,scoring="neg_mean_absolute_error").mean()
#principal


print("Score = {0:.5f}".format(score))
# 의사결정나무 : 153 -> 랜덤포레스트 : 129
# 느리고 병렬처리 안되는 svm 보다 randomeForeset 선호
# 66% 만 추출해서 모델만들고, 모델의 투표로 예측한다
# datetime추가, atemp 제거 -117.89152
# hour  -69
# year+month 53

Score = -59.24479

 1. actual = 100개
 2. model A = 120
 3. model B = 70

regression 모델 측정방법 (error = 차이)
1) |p-a|    mean absolute error 
2) (p-a)^2  mean squared error   # error에 대한 penalty를 크게 한다.
3) root((p-a)^2) root mean squared error
4) root((log(p+1)-log(a+1)^2) RMLSE #사소한 error는 크게하고 지나친 error는 작게한다

In [286]:
model.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [287]:
prediction=model.predict(X_test)
print(prediction.shape)
prediction[0:10] #array type

(6493,)

array([  25. ,    6.4,    4.5,    3.5,    2.8,    9.1,   34.5,   98. ,
        224.7,  131.8])

In [288]:
submission = pd.read_csv("data/sampleSubmission.csv")
submission["count"]=prediction
print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   25.0
1  2011-01-20 01:00:00    6.4
2  2011-01-20 02:00:00    4.5
3  2011-01-20 03:00:00    3.5
4  2011-01-20 04:00:00    2.8

In [289]:
submission.to_csv("baseline-script.csv",index=False) # index 없애고 저장하기